# Versions chosen for Python 3.10 (binary wheels); older pins fail to build or install.
cycler==0.12.1
kiwisolver==1.4.5
matplotlib==3.7.5
numpy==1.24.4
pandas==1.5.3
Pillow==10.2.0
pybullet==3.2.6
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
